# UE generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Builds/

# Visual Studio
.vs/
*.vcxproj.user

# VS Code
.vscode/*
!.vscode/launch.json

# OS
Thumbs.db
.DS_Store
nul

# Local archives / packaged binaries
*.7z
*.zip
*.rar
*.pdb
*.pch

# Rebuildable Unreal lighting/build data
*_BuiltData.uasset

# Misc logs
*.txt
!devblog.txt

# Python generated
__pycache__/
*.py[cod]
